# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
**/*/dist
/tmp
/out-tsc

# dependencies
/node_modules
**/*/node_modules
# package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
.history
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
# .vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
.history
Thumbs.db
# package-lock.json

/docker/dist

# sonar
.scannerwork

# micro files
public/style.css
public/shared-dependencies.js
